<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ action.capitalize() }} Ticket</title>
</head>
<body>
    <h1>{{ action.capitalize() }} Ticket</h1>
    <p>Are you sure you want to {{ action }} this ticket?</p>
    <form action="{{ url_for(action + '_ticket') }}" method="GET">
        <input type="hidden" name="ticket_id" value="{{ ticket_id }}">
        <button type="submit">Yes, {{ action }}</button>
    </form>
</body>
</html>
